body {
	margin:0;
	background-color:#91C05E;
	font-family:"Comic Sans MS";
}
#page_container{
	width:840px;
	margin:0 auto;
	padding:100px 0 50px;
	position: relative
}
#content_container {
	width:800px;
	background-color: #ffffff;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #2e90bd;
	padding:20px;
	position:relative;
	-moz-box-shadow:     7px 8px 30px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: 7px 8px 30px rgba(0, 0, 0, 0.68);
	box-shadow:         7px 8px 30px rgba(0, 0, 0, 0.68);
}

.opcla {
	margin:0 0 20px 0;
}

.opcla .slider {
	width:300px;
}

td, th {padding:5px 10px;}

input {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #2e90bd;
	padding:5px;
}

input:focus {
	border-color:#91C05E; 
}

.inst {
	font-weight:600;
}

.page_title {
	background-color:#ffffff;
	position:absolute;
	top:65px;
	left:20px;
	width:250px;
	height:30px;
	border-radius: 5px 5px 0 0; 
	-moz-border-radius: 5px 5px 0 0; 
	-webkit-border-radius: 5px 5px 0 0; 
	border: 1px solid #2e90bd;
	border-bottom:none;
	padding:5px 0 0 5px;
	font-weight:600;
	font-size:18px;
	z-index:1;
}

.sbutton {
	position:absolute;
	bottom:10px;
	right:10px;
}

#step2 {
	display:none;
}
